{{page-title "EmberQuickstart"}}

<h1>Super appli Ember</h1>

<LinkTo @route="index">Aller à l'accueil</LinkTo>
<a href="/profile">Aller à mon profil</a>
{{#if this.isLogged}}
  <button type="button" {{on "click" this.deco}}>Déconnexion</button>
  <button type="button" {{on "click" this.globalDeco}}>Globale déconnexion</button>
{{/if}}

{{outlet}}