
.competences-col-name-wrapper {
  display: flex;
}

.competences-col {
  &__name {
    position: relative;
    padding-left: 1rem;
    font-family: $open-sans;
    font-size: 0.875rem;
    font-weight: 600;
    color: $grey-80;
  }

  &__border {
    padding: 0.5rem 0;
    margin-right: 1rem;

    &::before {
      content: "";
      position: absolute;
      height: 20px;
      width: 1.5px;
      top: 20px;
      left: 1rem;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    &--top {
      &::before {
        height: 50px;
        top: 10px;
        bottom: 0;
      }
    }

    &--bottom {
      &::before {
        height: 50px;
        top: 0px;
      }
    }

    &--open {
      display: block;
    }

    &--jaffa            { &::before { background-color: $information-light; }}
    &--emerald          { &::before { background-color: $content-light; }}
    &--cerulean         { &::before { background-color: $communication-light; }}
    &--wild-strawberry  { &::before { background-color: $security-light; }}
    &--butterfly-bush   { &::before { background-color: $environment-light; }}
  }
}
